<footer>
    <div class="info text-white  text-center py-5">
        <div class="row container m-auto">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <div class="social">
                        <i class="fa-brands fa-facebook mx-1 icon border border-1 border-white rounded-circle p-2"></i>
                        <i class="fa-brands fa-twitter mx-1 icon border border-1 border-white rounded-circle p-2"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 icon border border-1 border-white rounded-circle p-2"></i>
                        <i class="fa-solid fa-globe mx-1 icon border border-1 border-white rounded-circle p-2"></i>
                    </div>
                </div>
                
           
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

    </div>
    
    <div class="copyright container-fluid m-auto py-4 text-white text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>