<div class="contact container m-auto py-5 text-center">
    <h1 class="fw-bold">CONATCT SECTION</h1>
    <div class="line bg-dark"></div>
        <i class="fa-solid fa-star mx-3"></i>
        <div class="line bg-dark"></div>
    <div class="mt-5 container px-5 w-75">
        <input type="text" name="userName" id="" value="" class="form-control py-3 border-top-0 border-start-0 border-end-0 mb-4" placeholder="userName">
        <input type="number" name="userAge" id="" value="" class="form-control  py-3  border-top-0 border-start-0 border-end-0 mb-4" placeholder="userAge">
        <input type="email" name="userEmail" id="" value="" class="form-control  py-3 border-top-0 border-start-0 border-end-0 mb-4" placeholder="userMail">
        <input type="password" name="userPass" id="" value="" class="form-control  py-3  border-top-0 border-start-0 border-end-0 mb-4" placeholder="userPassword">
        <button class="btn ">send Message</button>
    </div>
</div>