
<div class="prtfolio text-center py-5">
    <h1 class="fw-bold">PORTFOLIO COMPONENT    </h1>
    <div class="line bg-dark"></div>
        <i class="fa-solid fa-star mx-3"></i>
        <div class="line bg-dark"></div>
    <!-- <div class="bigImg position-absolute top-0 bottom-0 start-0 end-0 bg-danger">
         <img [src]="images[i]" alt="" > -->
        <!-- <h2>{{ele}}</h2> -->
        <!-- <div>{{i}}</div> -->

    <!-- </div> --> 
    <!-- Button trigger modal -->
<div class="row container m-auto mt-3 gy-4">
    <div class="col-md-4 position-relative ">
    <button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../../assets/poert1.png"  class="w-100 rounded-3 overflow-hidden" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
        
    </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
        <div class="modal-content bg-transparent ">
            
            <div class="modal-body p-0 mt-5">
                <img src="../../assets/poert1.png"  class="w-100 rounded-3 overflow-hidden" alt="">

            </div>   
        </div>
        </div>
    </div>
<!-- img2---- -->
<div class="col-md-4  ">
    <button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <img src="../../assets/port2.png"  class="w-100 rounded-3 overflow-hidden" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
        
    </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
      <div class="modal-content bg-transparent ">
        
        <div class="modal-body p-0 mt-5">
            <img src="../../assets/port2.png"  class="w-100 rounded-3 overflow-hidden" alt="">

        </div>   
      </div>
    </div>
  </div>
</div>
<!-- img3----- -->
<div class="col-md-4 position-relative ">
<button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img src="../../assets/port3.png"  class="w-100 rounded-3 overflow-hidden" alt="">
        <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
    
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
      <div class="modal-content bg-transparent ">
        
        <div class="modal-body p-0 mt-5">
            <img src="../../assets/port3.png"  class="w-100 rounded-3 overflow-hidden" alt="">

        </div>   
      </div>
    </div>
  </div>
    <div class="col-md-4 position-relative ">

<button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="../../assets/poert1.png"  class="w-100 rounded-3 overflow-hidden" alt="">
        <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
    
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
      <div class="modal-content bg-transparent ">
        
        <div class="modal-body p-0 mt-5">
            <img src="../../assets/port1.png"  class="w-100 rounded-3 overflow-hidden" alt="">

        </div>   
      </div>
    </div>
  </div>
<!-- img 5-- -->
<div class="col-md-4 position-relative ">
<button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <img src="../../assets/port2.png"  class="w-100 rounded-3 overflow-hidden" alt="">
        <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
    
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
      <div class="modal-content bg-transparent ">
        
        <div class="modal-body p-0 mt-5">
            <img src="./assets/port2.png"  class="w-100 rounded-3 overflow-hidden" alt="">

        </div>   
      </div>
    </div>
  </div>
    <div class="col-md-4 position-relative ">

<button type="button" class="btn position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img src="../../assets/port3.png"  class="w-100 rounded-3 overflow-hidden" alt="">
        <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
    
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog  w-100 d-flex justify-content-center align-items-center">
      <div class="modal-content bg-transparent ">
        
        <div class="modal-body p-0 mt-5">
            <img src="../../assets/port3.png"  class="w-100 rounded-3 overflow-hidden" alt="">

        </div>   
      </div>
    </div>
  </div>



</div>

    <!-- <div class="row container m-auto mt-3 gy-4">
        <div class="col-md-4 position-relative ">
            <img src="./assets/poert1.png"  class="w-100 rounded-3 overflow-hidden" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>
        </div>
        <div class="col-md-4 position-relative">
            <img src="./assets/port2.png"  class="w-100 rounded-3" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>

        </div>
        <div class="col-md-4 position-relative">
            <img src="./assets/port3.png"  class="w-100 rounded-3" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>

        </div>
        <div class="col-md-4 position-relative">
            <img src="./assets/poert1.png"  class="w-100 rounded-3" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>

        </div>
        <div class="col-md-4 position-relative">
            <img src="./assets/port2.png"  class="w-100 rounded-3" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>

        </div>
        <div class="col-md-4 position-relative">
            <img src="./assets/port3.png"  class="w-100 rounded-3" alt="">
            <div class="layer d-flex justify-content-center align-items-center rounded-3"><i class="text-white fa-solid fa-plus fa-6x"></i></div>

        </div>
    </div>
</div> -->